.footerCabuloso {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(158, 147, 131),
    rgba(218, 62, 62, 0.798)
  );
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 17.5px;
  color: rgb(11, 97, 97);
}
